*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  /* --1: #ffd9da;
  --2: #ea638c;
  --3: #89023e;
  --4: #30343f;
  --5: #1b2021; */

  /* --5: #353B3C;
  --4: #846A6A;
  --3: #A2999E;
  --2: #C6C7C4;
  --1: #eed0f2; */

  --5: #2C241E;
  --4: #a17b4e;
  --3: #d1462f;
  --2: #ddb791;
  --1: #FDF6E3;
}