.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the content fills the viewport vertically */
}

.content-wrapper {
  flex-grow: 1;
  background-color: var(--1);
  height: 100%;
}