*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --5: #2C241E;
  --4: #a17b4e;
  --3: #d1462f;
  --2: #ddb791;
  --1: #FDF6E3;
}

.app-wrapper, .page, .logged-in-out {
  display: flex; 
}

.app-wrapper, .page {
  flex-direction: column;
}

.page, .logged-in-out {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  min-height: 100vh;
  background-color: var(--1);
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.logged-in-out {
  background-color: var(--3);
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  width: auto;
  margin: auto;
  animation: slide 5s ease-in-out forwards;
}

.logged-in-out-message {
  font-size: 3rem;
  font-family: "active", sans-serif;
  color: var(--1);
  padding: 10px 40px;
}