*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --5: #ffd9da;
  --4: #ea638c;
  --3: #89023e;
  --2: #30343f;
  --1: #1b2021;
}