*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  /* --1: #DDE8B9;
  --2: #E8D2AE;
  --3: #D7B29D;
  --4: #CB8589;
  --5: #796465; */
  --5: #FFD9DA;
  --4: #EA638C;
  --3: #89023E;
  --2: #30343F;
  --1: #1B2021;
}