.login-form {
  width: 80%;
  height: auto;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form,
.submit {
  font-size: 4rem;
}

.login-form label {
  width: 100%;
}

.login-form input {
  width: 50%;
  height: 8rem;
}

.log-greeting {
  font-size: 5rem;
  color: var(--veryDark);
  text-align: center;
}
