.form-rows, .login-signup-form, .email-row, .password-row, .confirm-row, .field-title, .toggle-password, .error-container {
  display: flex;
}

.login-signup-form, .form-rows {
  flex-direction: column;
}

/* .confirm-row {
  z-index: 2;
} */

.field-title {
  width: 100%;
}

.form-rows {
  background-color: var(--2);
  align-items: center;
  width: 100%;
  z-index: 2;
}

.login-signup-form {
  width: 80vw;
  height: auto;
  background-color: var(--4);
  margin: 50px 10px 0 10;
  border-radius: 2rem;
  box-shadow: 0px 4px 8px  var(--5, 0.4);
}

.login-signup-form, .email-row, .password-row, .confirm-row, .field-title, .toggle-password {
  align-items: center;
}

.email-row, .password-row, .confirm-row {
  padding: 0 100px;
  width: 100%;
  
}

.toggle-password, .error-container {
  justify-content: center;
}

.field-title {
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.login-signup-form, #email-input,
.submit {
  font-family: "Raleway", sans-serif;
}

.log-greeting {
  margin: 20px 10px;
}

.log-greeting, .signup-greeting, .signup-link, .submit:hover, .error {
  color: var(--1);
  text-align: center;
}

.log-greeting, .signup-greeting, .signup-link, .login-signup-form,
.submit {
  font-size: 3rem;
}

.error-container {
  height: 50px;
}

.submit {
  font-size: 2rem;
}

.field-title, .submit {
  color: var(--5);
}

.field-title, .signup-link, .signup-error-message {
  font-family: "active", sans-serif;
}

.signup-link {
  transform: skew(.15rad);
  text-decoration: none;
  margin-bottom: 20px;
}

.signup-link:hover {
  text-decoration: underline;
  color: var(--5);
}

.login-signup-form input {
  width: 60%;
  height: 40px;
  padding: 10px;
  margin: 0 15px;
  border-radius: 1rem;
}

.toggle-password {
  height: auto;
  color: var(--4);
}

.toggle-password, .spacer {
  width: 70px;
}

.login-signup-form input, .submit {
  border: 1px solid var(--5);
}

.submit {
  width: 20%;
  height: 50px;
  margin: 20px 0;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  box-shadow: 0px 2px 4px  var(--5, 0.4);
  border-radius: .5rem;
}

.submit:hover {
  background-color: var(--5);
}

.toggle-password:hover, .submit:hover, .signup-link:hover {
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.error-container {
  align-items: center;
  width: 90%;
  height: 50px;
  margin: auto;
}

.signup-error-message {
  position: relative;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--3);
  font-size: 3rem;
  color: var(--1);
  padding: 10px 40px;
  animation: slide 5s ease-in-out forwards;
  transform: scale(1.2, 1);
  height: auto;
}

@media (max-width: 992px) {
  #confirm-password-input {
    margin-left: 0;

  }

  .email-row, .password-row, .confirm-row {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 730px) {
  .field-title {
    font-size: 2.5rem;
  }

  .signup-error-message {
    font-size: 2rem;
  }
}

@media (max-width: 675px) {
  .log-greeting, .signup-greeting, .field-title, .signup-error-message {
    font-size: 1.8rem;
  }

  .submit {
  font-size: 1.5rem;
  }
}