.message-box-wrapper {
    width: 50%;
}

.message-box-container, .message-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.message-box {
  font-family: "active", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;  font-size: calc(0.8 * 3rem);
  border-radius: 0 0 1rem 1rem;
  padding: 5px;
  text-align: center;
  position: absolute;
  height: auto;
  animation: prod-slide 4s ease-in-out forwards;
  width: 100%;
}

@keyframes prod-slide {
  0% {
    transform: translateY(-100%);
  }

  10% {
    transform: translateY(-10%);
  }

  90% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.positive {
  background-color: var(--5);
  color: var(--1);
}

.negative {
  color: var(--3);
  background-color: var(--1);
}

@media (max-width: 1250px) {
  .message-box {
    font-size: calc(0.8 * 2.5rem);
  }
}

@media (max-width: 975px) {
    .message-box {
        font-size: calc(0.8 * 2rem);
    }
}

@media (max-width: 850px) {
    .message-box {
        font-size: calc(0.8 * 1.6rem);
    }
}

@media (max-width: 675px) {
    .message-box {
        font-size: calc(0.8 * 2.5rem);
    }
}