.sidebar, .hamburger, .sidebar.open .sidebar-nav, .nav-link {
  display: flex;
}

.sidebar, .sidebar.open .sidebar-nav {
  flex-direction: column;
}

.sidebar, .sidebar.open .sidebar-nav {
  align-items: flex-end;
}

.sidebar, .nav-link {
  position: relative;
}

.sidebar {
  width: auto;
}

.hamburger, .sidebar-nav {
  height: auto;
}

.hamburger {
  justify-content: center;
  align-items: center;
  width: 13vw;
}

.hamburger-react > div {
  color: var(--1);
}

.sidebar-nav {
  background-color: var(--1);
  position: absolute;
  top: 100%;
  width: 400px;
  display: none;
  border-radius: 5rem;
  padding: 15px;
  box-shadow: 0px 4px 8px var(--5, 0.4);
}

.sidebar.open .sidebar-nav {
  padding-right: 50px;
  opacity: 0.9;
  transition: opacity 2s ease;
}

.nav-link {
  text-decoration: none;
  margin: 15px 0;
  width: 100%;
  justify-content: flex-end;
}

.nav-link h3, .nav-link:hover h3 {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-link h3 {
  color: var(--4);
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  transition: transform 0.5s ease, font-size 0.5s ease;
}

.nav-link:hover h3 {
  color: var(--5);
  font-family: "active", sans-serif;
  transform: scaleX(1.2);
  transition: transform 0.8s ease;
}


@media (max-width: 992px) {
  .sidebar-nav {
    width: 300px;
  }
  .nav-link h3 {
    font-size: 3rem;
  }
}

@media (max-width: 675px) {
  .sidebar.open .sidebar-nav {
    align-items: center; /* Horizontally align center */
    text-align: center; /* Center text within nav */
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-link {
    justify-content: center; /* Vertically align text */
  }

  .sidebar.open .sidebar-nav {
    padding: 0;
  }
}

