.cart,
.cart-container,
.product-name-container,
.cart-quantity-button,
.product-quantity,
.product-price,
.product-total-price,
.cart-buttons,
.cart-button {
  display: flex;
}

.title,
.column-title,
.product-quantity-input,
.delete-from-cart-button,
.quantity-title, 
.quantity-column,
.cart-total,
.cart-button {
  text-align: center;
}

.cart,
.cart-container,
.cart-quantity-button,
.product-quantity,
.product-price,
.product-total-price,
.cart-buttons,
.cart-button {
  align-items: center;
}

.title,
.delete-from-cart-button,
.cart-quantity-button,
.cart-button,
.price-fineprint {
  color: var(--5);
}

.cart,
.cart-container,
.product-quantity,
.cart-quantity-button,
.product-price,
.product-total-price {
  justify-content: center;
}

.cart-items,
.cart-total h3,
.cart-total-dollars,
.cart-button,
.error-message {
  font-size: 3rem;
}

.title,
.cart-button,
.product-quantity-input,
.delete-from-cart-button {
  font-family: "active", sans-serif;
  /* font-optical-sizing: auto; */
}

.column-title,
.delete-from-cart-button,
.cart-button:hover {
  color: var(--1);
}

.cart-items,
.cart-total h3,
.price-fineprint,
.error-message {
  font-family: "Raleway", sans-serif;
}

.column-title,
.cart-total h3,
.error-message,
.cart-total-dollars {
  font-weight: 600;
}

.cart,
.in-cart,
.cart-button {
  background-color: var(--1);
}

.product-quantity,
.product-price,
.product-total-price {
  margin-bottom: 3px;
}

.cart-container,
.category-title-area,
.delete-from-cart-button {
  background-color: var(--2);
}

.column-title,
.cart-button,
.product-quantity-input {
  font-size: 2.5rem;
  font-weight: 100 !important;
}

.product-quantity,
.product-price,
.product-total-price {
  border-left: 0.25rem dotted var(--3);
  height: 95%;
}

.column-title,
.quantity-title, 
.quantity-column {
  grid-area: quantity-column;
}

.cart-container,
.in-cart,
.cart-button {
  border-radius: 2rem;
}

.cart-quantity-button:hover,
.delete-from-cart-button:hover,
.cart-button:hover {
  cursor: pointer;
}

.delete-from-cart-button:hover,
.cart-button:hover {
  background-color: var(--3);
}

.cart-quantity-button:hover,
.cart-button:hover {
  border: none;
}

.cart,
.cart-container {
  flex-direction: column;
}

.category-title-area,
.cart-items {
  display: grid;
  grid-template-areas: "product-column quantity-column price-column product-total-column";
  grid-template-columns: 1fr 1fr 0.5fr 1fr;
}

.category-title-area,
.delete-from-cart-button {
  background-color: var(--5);
}

.product-column,
.price-column {
  text-align: left;
}

.cart-total-dollars,
.column-title {
  font-family: "eczar", sans-serif;
}

.price-fineprint,
.delete-from-cart-button {
  font-size: 1.5rem;
}

.cart-container {
  width: 90vw;
  box-shadow: 0px 4px 8px var(--5, 0.4);
  min-height: 300px;
  max-height: 800px;
  margin: 100px 0 200px 0;
}

.title {
  font-size: 6rem;
  font-weight: 200;
  padding: 15px 0;
}

.in-cart {
  height: auto;
  border: 0.25rem solid var(--3);
  width: 95%;
}

.product-name-container {
  justify-content: flex-start;
  padding: 10px 10px;
}

.category-title-area {
  border-radius: 1.75rem 1.75rem 0 0;
}

.column-title {
  border-bottom: 0.25rem solid var(--3);
  grid-gap: 10px;
}

.product-column {
  grid-area: product-column;
}

.product-column-title {
  border-left: none;
}

.delete-from-cart-button {
  border-radius: .5rem;
  border: none;
  padding: 3px;
  transform: scaleX(1.5);
  margin-left: 10px;
}

.product-total-column {
  grid-area: product-total-column;
}

.cart-items {
  font-weight: 500;
  border-bottom: 0.15rem dotted var(--4);
  margin: 5px;
}

.cart-items:last-child {
  border-bottom: none;
}

.product-name {
  margin: 5px auto;
}

.cart-buttons {
  width: 50%;
  justify-content: space-around;
}

.cart-button {
  margin: 30px 0 10px 0;
  padding: 8px;
  height: auto;
  border: solid .15rem var(--5);
}

.cart-quantity-button {
  margin: auto 10px;
  border-radius: 50%;
  font-size: 2rem;
  width: 30px;
  height: 30px;

  &:not([disabled]):hover {
    background-color: var(--3);
    color: var(--1);
    cursor: pointer;
  }

  &:disabled {
    color: var(--2);
    cursor: not-allowed;
  }
}

.product-quantity-input {
  width: 40px;
  margin: 0 20px;
  height: 40px;
}

.product-quantity-input:focus {
  outline: none;
}

.price-column {
  grid-area: price-column;
}

.cart-total {
  width: 100%;
  background: linear-gradient(to right, var(--4), var(--1), var(--4));
  margin-top: 25px;
}

.error-message {
  color: var(--3);
  margin-top: 10px;
}

@media screen and (max-width: 1300px) {
  .delete-from-cart-button {
    font-size: 1rem;
  }
  
  .cart-items {
    font-size: 2rem;
  }

  .product-quantity-input {
    margin: 0 5px; 
  }
}

@media (max-width: 992px) {
  .column-title {
    font-size: 1.5rem;
  }
  .cart-items {
    font-size: 1.5rem;
  }

  .product-name-container {
    padding: 2px;
  }

  .delete-from-cart-button {
    padding: 1px;
    font-size: .8rem;
    border-radius: .3rem;
  }

  .cart-quantity-button {
    margin: auto 2px;
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    padding-bottom: 0;
  }

  .product-quantity-input {
    width: 30px;
    height: 30px;
    font-size: 1.8rem;
  }
}

@media (max-width: 675px) {
  .cart-container {
    margin-bottom: 200px;
  }
  
  .title {
  font-size: 4rem;
  }

  .column-title, .cart-items {
    font-size: 1rem;
  }

  .delete-from-cart-button {
    margin-left: 4px;
  }

  .cart-total h3, .cart-total-dollars {
    font-size: 2rem;
  }

  .cart-button {
    font-size: 1.5rem;
    border-radius: 1.5rem;
  }
}

@media (max-width: 475px) {
  .product-quantity,
  .product-price,
  .product-total-price {
    border-left: 0.1rem dotted var(--3);
    height: 95%;
  }
  .column-title, .cart-quantity-button {
    font-size: .8rem;
  }

  .cart-button, .cart-quantity-button {
    border: solid .05rem var(--5);
  }

  .delete-from-cart-button, .cart-items {
    font-size: .6rem;
  }

  .product-name {
    font-size: .8rem
  }

  .cart-quantity-button {
    width: 12px;
    height: 12px;
  }

  .product-quantity-input {
    width: 20px;
    height: 20px;
    font-size: 1rem;
  }

  .cart-buttons {
    width: 70%;
    justify-content: space-between;
  }

  .cart-button {
    border-radius: 1rem;
    padding: 5px;
  }
}