.products {
    background-color: var(--1);
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
    "logged-in-message-container logged-in-message-container"
    "products-title products-title"
    "food-card merch-card";
    justify-content: space-evenly;
    height: 100%;
    width: 100vw;
}

.products-title {
    text-align: center;
    grid-area: products-title;
    font-size: 4rem;
    color: var(--5);
    height: auto;
    align-self: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 20px 0;
}

.product-card {
    background-color: var(--2);
    display: grid;
    grid-template-areas:
    "product-card-title"
    "product-card-image"
    "product-card-description"
    "action-buttons";
    height: 70vw; /* Set height proportional to the viewport width */
    width: 40vw; /* Set width proportional to the viewport width */
    max-height: 700px; /* Set maximum height */
    max-width: 400px; /* Set maximum width */
    justify-items: center;
    border-radius: 2rem;
    padding: 0 10px;
    box-shadow: 0px 4px 8px  var(--5, 0.4);
}

.product-card-title, .product-card-description {
    font-family: "active", san-serif;
    color: var(--5);
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.product-card-title {
    grid-area: product-card-title;
    font-size: 6.5rem;
    margin: 20px 0px -60px 0px;
}

.product-card-description {
    grid-area: product-card-description;
    font-size: 4rem;
    margin: -30px 0px;
}

.product-card-image {
    height: auto;
    width: 300px;
    grid-area: product-card-image;
    width: 80%;
    border: 2px solid var(--5);
    border-radius: 2rem;
}

#food-card {
    grid-area: food-card;
}

#merch-card {
    grid-area: merch-card;
}