.prod-select-details {
  border-top: 1rem dotted var(--5);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding-top: 10px;
  
}

/* .react-dropdown-select-item is the Div for items items on List that appears on-click of 'select' drop-downs. */
.react-dropdown-select-item {
  background-color: var(--1);
  color: var(--5);
  border-top: 0.3rem dotted var(--5);
  
}

.react-dropdown-select-item:nth-child(1) {
  border-top: none;
}

/*Drop-down menu (main'select' box)*/
.react-dropdown-select {
  background-color: var(--1);
}

/* Text in dropdown menus (says "select") */
.react-dropdown-select-input.css-1ux6m6-InputComponent.e11wid6y0,
.react-dropdown-select {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  
}

/* Box surrounding Arrow in select menu */
.e1vudypg0 {
  color: var(--5);
}

.prod-name-quantity {
  width: 40%;
  justify-content: center;
  gap: 5px;
  margin-left: 5px;
  height: 100%;
}

.prod-name-quantity, .prod-name-quantity > div, .prod-select-details {
  display: flex;
}

.prod-name-quantity {
  flex-direction: column;
  align-items: center;
}

.react-dropdown-select.select-menu {
  width: 200px;
  height: auto;
  border-radius: 1rem;
}

@media screen and (max-width: 1300px) {
  .react-dropdown-select.select-menu {
    font-size: 1.5rem;
    height: 50px;
    width: 150px;
  }
}

  @media screen and (max-width: 975px) {
  .react-dropdown-select.select-menu {
    font-size: 1.1rem;
    width: 100px;
  }

  .react-dropdown-select {
    width: 80px;
  }

}