.header {
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    flex-shrink: 0;
    padding: 10px 40px;
    z-index: 1;
}

.header, .title-container, .company-title {
    display: flex;
}


.header, #logo {
    background-color: var(--5);
}

#logo {
    height: 200px;
    width: 200px;
}

.title-container {
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
}

.against {
    transform: skew(-.25rad);
}

.the {
    font-size: 6rem;
    color: var(--3);
    margin-top: 35px;

}

.grains {
    transform: skew(.25rad);
}

.against, .grains {
    color: var(--1);
}


.subtitle {
    color: var(--2);
    transform: skew(-.25rad);
    text-align: center;
}

.subtitle span {
    text-decoration: underline;
}

.company-title, .subtitle {
    font-optical-sizing: auto;
    font-weight: 100;
    font-family: "active", sans-serif;
    font-style: normal;
    font-size: 5rem;
}